<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	<import resource="globalSettings.xml" />
	<import resource="murexPositionExtract.xml" /> 
 	<import resource="mreSecExtract.xml" /> 
 	<import resource="mreIssuer.xml" />  
	<import resource="businessUnitHierarchy.xml" />
	<import resource="ApEquityDeltaGamma.xml" />
	<import resource="ApParCreditDeltaCurve.xml" />
	<import resource="financePnl.xml" />
	<import resource="revenueTypeHierarchy.xml" />
	<import resource="newMurexPositionExtract.xml" />
	<import resource="tradeReconMrePosition.xml" />
	<import resource="legalEntityHierarchy.xml" />
</beans> 